@model OwnerModel

@{
    
    Layout = "_Layout";
    ViewData["Title"] = "Клиент";

     
}

<div class="mask">
    <div class="loader">
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let mask = document.querySelector('.mask');

        window.addEventListener('load', () => {
            setTimeout(() => {
                if (mask) {
                    mask.classList.add('hide');
                } else {
                    console.error('Element with class "mask" not found');
                }
            }, 1000); 
        });
    });

</script>
<header class="header">
    <div class="logo">
        <a href="@Url.Action("Index", "Medcard")">
            <img src="~/img/logo-removebg-preview.png" alt="VetAsist">
        </a>
    </div>
    
</header>
@* <section class="list">
    <div class="list__wrapper shadow">
 *@
<form method="POST" asp-action="UpdateDrugsAndTreatments">
    <input type="hidden" name="Id" value="@Model.Id" />

    @foreach (var pet in Model.Pets)
    {
        <div class="list-more">
            <div class="table-container">
                <table>
                    <tr>
                        <td class="info-section">ФИО:</td>
                        <td class="info-value editable">@Model.Name</td>
                        <td class="info-section">Телефон:</td>
                        <td class="info-value editable">@Model.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td class="info-section">Кличка:</td>
                        <td class="info-value editable">@pet.Name</td>
                        <td class="info-section">Чип:</td>
                        <td class="info-value editable">@pet.ChipNumber</td>
                    </tr>
                    <tr>
                        <td class="info-section">Возраст:</td>
                        <td class="info-value editable">@pet.Age</td>
                        <td class="info-section">Порода:</td>
                        <td class="info-value editable">@pet.Breed</td>
                    </tr>
                </table>
                @foreach (var drugs in pet.Drugs)
                {

                    <div class="section-title">Препараты</div>

                    <!-- Поле с контентом, которое можно редактировать -->
                    <textarea class="textarea-editable" contenteditable="true" id="editableBigInput-@drugs.PetId" name="Drugs">
                        @drugs.Description
                            </textarea>

                    <!-- Скрытое поле для передачи отредактированного значения -->
                    <input type="hidden" name="Drugs" id="hiddenDrugsInput-@drugs.PetId" value="@drugs.Description" />
                    <input type="hidden" name="PetId" value="@pet.Id" />

                    <!-- Кнопка для отправки данных -->
                    <button type="submit" class="section-footer-button" name="Action" value="UpdateDrugs">
                        Изменить
                    </button>

                }
                @foreach (var treat in pet.Treatments)
                {

                    <div class="section-title">Лечение</div>

                    <!-- Поле с контентом, которое можно редактировать -->
                    <textarea class="textarea-editable" contenteditable="true" id="editableBigInput-@treat.PetId" name="Treatments">
                        @treat.Description
                                </textarea>

                    <!-- Скрытое поле для передачи отредактированного значения -->
                    <input type="hidden" name="Treatments" id="hiddenDrugsInput-@treat.PetId" value="@treat.Description" />
                    <input type="hidden" name="PetId" value="@pet.Id" />

                    <!-- Кнопка для отправки данных -->
                    <button type="submit" class="section-footer-button" name="Action" value="UpdateTreatments">
                        Изменить
                    </button>

                } 
                @foreach (var rec in pet.Recomendations)
                {

                    <div class="section-title">Рекомендации</div>

                    <!-- Поле с контентом, которое можно редактировать -->
                    <textarea class="textarea-editable" contenteditable="true" id="editableBigInput-@rec.PetId" name="Recomendations">
                        @rec.Description
                                </textarea>

                    <!-- Скрытое поле для передачи отредактированного значения -->
                    <input type="hidden" name="Recomendations" id="hiddenDrugsInput-@rec.PetId" value="@rec.Description" />
                    <input type="hidden" name="PetId" value="@pet.Id" />

                    <!-- Кнопка для отправки данных -->
                    <button type="submit" class="section-footer-button" name="Action" value="UpdateRecomendations">
                        Изменить
                    </button>
                }

            </div>
        </div>
    }
</form>


@* </div>
</section> *@ 