@model OwnerModel

@{
    ViewData["Title"] = "Medcard";
}

<header class="header">
    <div class="logo"><a href="@Url.Action("Index", "Medcard")"> <img src="~/img/logo.png" alt="VetAsist"></a></div>
    <div class="dark-mode">
        <input type="checkbox" class="checkbox" id="checkbox">
       
    </div>

    <!-- <form method="POST" action="/Main/Medcard/Update/"> -->
    <input type="hidden" name="id" value="">
    <button id="newChange" type="submit" class="btn-input">Изменить</button>

</header>

<section class="card">
    <div id="main" class="main shadow">
        <div class="main__column1">
            <div class="main__elem" id="client-name">Фио:<strong> @Model.Name</strong></div>
            <div class="main__elem" id="phone-number">Телефон:<strong> @Model.PhoneNumber</strong></div>
            @foreach (var pet in Model.Pets)
            {
                <div class="main__elem" id="pet-name">Кличка:<strong> @pet.Name</strong></div>
                <div class="main__elem" id="chip-number">Чип:<strong> @pet.ChipNumber</strong></div>
                <div class="main__elem" id="pet-age">Возраст:<strong> @pet.Age</strong></div>
                <div class="main__elem" id="pet-breed">Порода:<strong> @pet.Breed</strong></div>
            }
        </div>

        <div class="main__column2" ">
            <h2 style="background-color: azure;">Препараты</h2>

            <textarea class="main__elem-input disable" id="drug" type="text" style="font-size: 30px; "></textarea>

            <div class="main__elem" id="drugs" style="font-size: 30px">
                @foreach (var pet in Model.Pets)
                {
                    @foreach (var drugs in pet.Drugs)
                    {
                        @drugs.Description
                    }
                }
            </div>

            <h2 style="background-color: azure;">Лечение</h2>

            <textarea class="main__elem-input disable" id="treatments" type="text" style="font-size: 30px;"></textarea>

            <div class="main__elem" id="treatment" style="font-size: 30px">
                @foreach (var pet in Model.Pets)
                {
                    @foreach (var treatmeants in pet.Treatments)
                    {
                        @treatmeants.Description
                    }
                }
            </div>
        </div>
        
            <button style=""class="disable" id="saveButton">Сохранить</button>
    </div>
    </div>
</section>
