@using Medcard.Mvc.Models
@using System.Globalization
@model IEnumerable<OwnerModel>

@{

    ViewData["Title"] = "Card";
    Layout = "_Layout";

    CultureInfo russianCulture = new CultureInfo("ru-RU");
    

}
<div class="mask">
    <div class="loader">
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let mask = document.querySelector('.mask');

        window.addEventListener('load', () => {
            setTimeout(() => {
                if (mask) {
                    mask.classList.add('hide');
                } else {
                    console.error('Element with class "mask" not found');
                }
            }, 1000); 
        });
    });
</script>

<form method="POST" asp-action="Create">
    <div id="popup" class="popup disable">
        <div class="popup__box">
            <input placeholder="ФИО" type="text" id="name" name="OwnerName">
            <input placeholder="Номер телефона" type="text" id="phonenumber" name="PhoneNumber">
            <input placeholder="Кличка" type="text" id="nick" name="PetName">
            <input placeholder="Номер чипа" type="text" id="chip" name="ChipNumber">
            <input placeholder="Возраст" type="text" id="age" name="Age">
            <input placeholder="Порода" type="text" id="breed" name="Breed">

            <button class="list__more" type="submit" @Url.Action("Index", "Create")>Отправить</button>

        </div>
        <p></p>
    </div>

</form>

<header class="header">
    <div class="logo">
        <a href="@Url.Action("Index", "Medcard")">
            <img src="~/img/logo-removebg-preview.png" alt="VetAsist">
        </a>
    </div>

</header>
<div class="search">
    <div class="search__box search-border">
        <input placeholder="Поиск" class="search__field__input search-border" type="search" id="search" name="clientName">
        <button class="search__field__btn search-border" type="button" onclick="submitForm()">Найти</button>
    </div>

    <!-- Скрытая форма -->
    <form id="searchForm" method="post" asp-action="SearchMedcardPost">
        @Html.AntiForgeryToken()
        <input type="hidden" id="hiddenSearch" name="clientName" />
    </form>
</div>




@if (Model != null && Model.Any())
{

    <section class="list">
        <div class="list__wrapper shadow">
            <div class="list__line-title">
                <p class="number">Дата</p>
                <p class="name">ФИО</p>
                <p class="phone">Номер телефона</p>
                <p class="nick">Кличка</p>
                <p class="chip">Номер чипа</p>
                <p class="age">Возраст</p>
                <p class="breed">Порода</p>
                <p class="heal">Параметры</p>
            </div>
            @foreach (var owner in Model)
            {
                <div class="list__container">
                    <div class="list__lines">
                        <p class="number"><br />@owner.DateCreate.ToString("dd/MM/yyyy HH:mm dddd", russianCulture)</p>
                        <p class="name"><br><br>@owner.Name</p>
                        <p class="phone"><br><br>@owner.PhoneNumber</p>
                        @foreach (var pet in owner.Pets)
                        {
                            <p class="nick"><br><br>@pet.Name</p>
                            <p class="chip"><br><br>@pet.ChipNumber </p>
                            <p class="age"><br><br>@pet.Age</p>
                            <p class="breed"><br><br>@pet.Breed</p>
                        }
                        <div class="list__param">
                            <a class="list__more" asp-action="GetById" asp-controller="Medcard" asp-route-id="@owner.Id">
                                Подробнее
                            </a>
                            <a href="@Url.Action("UpdateMedcard", "Medcard", new { id = owner.Id })" class="list__more">Изменить</a>

                            <form asp-action="Delete" asp-controller="Medcard" method="post" class="list__remove">
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@owner.Id" />
                                <button type="submit" onclick="alert('Вы уверены?')"
                                        style="background: none; border: none; color: white; cursor:pointer">
                                    Удалить
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            }
        </div>

    </section>

}
else
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 style="text-align: center;
                font-size: 8em;
                padding: 145px;">"@ViewBag.ClientName" не найден! </h1>
}


