@model OwnerModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Изменить";
}
<div class="mask">
    <div class="loader">
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        let mask = document.querySelector('.mask');

        window.addEventListener('load', () => {
            setTimeout(() => {
                if (mask) {
                    mask.classList.add('hide');
                } else {
                    console.error('Element with class "mask" not found');
                }
            }, 1000); 
        });
    });
</script>

<header class="header">
    <div class="logo">
        <a href="@Url.Action("Index", "Medcard")">
            <img src="~/img/new-logo.png" alt="VetAsist">
        </a>
    </div>
    
    <button id="Add" type="submit" formmethod="post" class="btn-input">Изменить</button>
</header>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<h1 style="text-align: center;
                font-size: 3.4em;
                padding: 125px;">
    Проверьте изменения нажав на кнопку изменить.Или же вернитесь на главную страницу, нажав на логотип.
</h1>
<form method="POST" action="@Url.Action("UpdateMedcard", "Medcard", new { id = Model.Id })">
    <div id="popup" class="popup enable">
        <div class="popup__box">
            <label>ФИО:</label>
            <input placeholder="ФИО" type="text" id="name" name="OwnerName" value="@Model.Name">
            <label>Номер телефона:</label>
            <input placeholder="Номер телефона" type="text" id="phonenumber" name="PhoneNumber" value="@Model.PhoneNumber">
            @foreach (var pet in Model.Pets)
            {
                <label>Кличка:</label>
                <input placeholder="Кличка" type="text" id="nick" name="PetName" value="@pet.Name">
                <label>Номер чипа:</label>
                <input placeholder="Номер чипа" type="text" id="chip" name="ChipNumber" value="@pet.ChipNumber">
                <label>Возраст:</label>
                <input placeholder="Возраст" type="text" id="age" name="Age" value="@pet.Age">
                <label>Порода:</label>
                <input placeholder="Порода" type="text" id="breed" name="Breed" value="@pet.Breed">
            }
            <button class="list__more" type="submit" asp-action="UpdateMedcard" >Отправить</button>
            <label></label>
        </div>
    </div>
</form>
