@page "/Client/{Id:guid}"
@inject NavigationManager Navigation 


@rendermode InteractiveAuto


<MoreLayout></MoreLayout>

<header class="header" id="header">
    <a href="/">
        <div class="logo">

            <img src="/img/logo.png" alt="VetAsist">

            <div class="logo-string" style="margin-left:40px;margin-top:1.4em; align-items:center;">
                <img src="/img/string.png" alt="VetAsist">
            </div>

        </div>
    </a>
    <div class="buttons">
        <button class="btn-input" id="emailButton" type="button" style="font-size:22px;" @onclick="PrintPage" target="_blank">Распечатать</button>
        <button class="btn-input" id="emailButton" type="button" style="font-size:20px;">Email</button>
    </div>
</header>


@if (medcardModel is null)
{

    <div class="loader-container">
        <div class="loader"></div>
    </div>

}
else
{
    <div class="list-more">
        <div class="table-container">
            @foreach (var pet in medcardModel.Pets)
            {
                <table>
                    <tr>
                        <td class="info-section">ФИО:</td>
                        <td class="info-value editable">@medcardModel.Name</td>
                        <td class="info-section">Телефон:</td>
                        <td class="info-value editable">@medcardModel.PhoneNumber</td>
                    </tr>
                    <tr>
                        <td class="info-section">Кличка:</td>
                        <td class="info-value editable">@pet.Name</td>
                        <td class="info-section">Чип:</td>
                        <td class="info-value editable">@pet.ChipNumber</td>
                    </tr>
                    <tr>
                        <td class="info-section">Возраст:</td>
                        <td class="info-value editable">@pet.Age</td>
                        <td class="info-section">Порода:</td>
                        <td class="info-value editable">@pet.Breed</td>
                    </tr>
                </table>
                @foreach (var drug in pet.Drugs)
                {
                    <div class="section-title">Препараты</div>
                    <textarea class="textarea-editable" contenteditable="true"
                              id="editableBigInput-@pet.Id"
                              @bind="drug.Description">
                </textarea>
                    <button class="section-footer-button" @onclick="() => UpdateDrugs(pet.Id, drug.Description)">Изменить</button>
                }
                @foreach (var treatment in pet.Treatments)
                {
                <!-- Лечение -->
                <div class="section-title">Лечение</div>
                <textarea class="textarea-editable" contenteditable="true" 
                id="editableBigInput=@pet.Id" @bind="treatment.Description">
                  
                    @treatment.Description
                 
                </textarea>
                <button class="section-footer-button" @onclick="() => UpdateTreat(pet.Id, treatment.Description)">Изменить</button>
                }
                @foreach (var rec in pet.Recomendations)
                {
                <!-- Рекомендации -->
                <div class="section-title">Рекомендации</div>
                <textarea class="textarea-editable" contenteditable="true"
                id="editableBigInput-@pet.Id" @bind="rec.Description">
                   
                    @rec.Description
                 
                    </textarea>
                    <button class="section-footer-button" @onclick="() => UpdateRec(pet.Id, rec.Description)">Изменить</button>
                }
            }
        </div>
    </div>
    
}
@if (showSuccessAlert)
{
    <div class="loader-container">
        <div class="loader"></div>
    </div>
}

@code {
    [Parameter]
    public Guid Id { get; set; }



    bool showSuccessAlert = false;
    OwnerModel medcardModel { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        await GetClientById();



    }

    private async Task GetClientById()
    {
        StateHasChanged();
    }

    private async Task UpdateDrugs(Guid guid, string drugs )
    {
        StateHasChanged();

    }
    private async Task UpdateTreat(Guid guid, string treatments)
    {
        StateHasChanged();

    }
    private async Task UpdateRec(Guid guid, string recomendations)
    {
        StateHasChanged();

    }


    //Page
    void PrintPage()
    {
        Navigation.NavigateTo($"/Print/{Id}");
    }

}
