 @page "/Client/{id:guid}"

@inject NavigationManager navigation
@inject IMedcardHttpService _servivce

@rendermode InteractiveServer


<MoreLayout></MoreLayout>

<header class="header" id="header">
    <div class="logo">
        <a href="/">
            <img src="/img/logo.png" alt="vetasist">
        </a>
    </div>
    <div class="logo-string">
        <img src="/img/string-assistant-black.png" alt="vetasist">
    </div>
    <div class="buttons">
        <button class="btn-input" id="emailbutton" type="button" style="font-size:22px;"  target="_blank">Распечатать</button>
        <button class="btn-input" id="emailbutton" type="button" style="font-size:20px;">Email</button>
    </div>
</header>

@if (medcardmodel is null || medcardmodel.Id == Guid.Empty)
{
    <div class="loader-container">
        <div class="loader"></div>
    </div>
}
else{
<div class="list-more">
        <div class="table-container">
        @foreach(var pets in medcardmodel.Pets)
        {
            
        
                <table>
                    <tr>
                        <td class="info-section">Фио:</td>
                        <td class="info-value editable">@medcardmodel.Name</td>
                        <td class="info-section">Телефон:</td>
                        <td class="info-value editable">@medcardmodel.PhoneNumber</td>
                    </tr>
                    <tr>
                    <td class="info-section">Кличка:</td>
                    <td class="info-value editable">@pets.Name</td>
                        <td class="info-section">Чип:</td>
                        <td class="info-value editable">@pets.ChipNumber</td>
                    </tr>
                    <tr>
                        <td class="info-section">Возраст:</td>
                        <td class="info-value editable">@pets.Age</td>
                        <td class="info-section">Порода:</td>
                        <td class="info-value editable">@pets.Breed</td>
                    </tr>
            </table>
            foreach (var drugs in pets.Drugs)
            {
                <div class="section-title">Препараты</div>
                <textarea class="textarea-editable" contenteditable="true">
                @drugs.Description
                </textarea>
                <button class="section-footer-button">Изменить</button>
            }
                
                <!-- лечение -->
                <div class="section-title">Лечение</div>
                <textarea class="textarea-editable" contenteditable="true"
                              id="editablebiginputpet.Id">
                  
                        treatment.Description
                 
                </textarea>
                    <button class="section-footer-button">Изменить</button>
                
                <!-- рекомендации -->
                <div class="section-title">Рекомендации</div>
                <textarea class="textarea-editable" contenteditable="true"
                              id="editablebiginput-">
                   
                        
                 
                    </textarea>
                    <button class="section-footer-button">Изменить</button>
                
        }
        </div>
    </div>
    
}

@code {
    [Parameter]
    public Guid id { get; set; }
    public OwnerModel medcardmodel { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await Task.Delay(1000);
        medcardmodel = await LoadMedcard();

    }

    async Task<OwnerModel> LoadMedcard()
    {
         return await _servivce.GetMedcardById(id);

    }

}
