@page "/"
@using Medcard.DbAccessLayer.Interfaces
@layout Layout.MainLayout
@inject IMedcardRepository<OwnerDto> repo

<header class="header" id="header">
    <div class="logo">
        <a href="/">
            <img src="/img/big-logo.png" alt="VetAsist">
        </a>
    </div>

    <button id="Add" type="button" class="btn-input">Добавить</button>
</header>

<form method="POST">
    <div id="popup" class="popup disable">
        <div class="popup__box">
            <input placeholder="ФИО" type="text" id="name" name="OwnerName">
            <input placeholder="Номер телефона" type="text" id="phonenumber" name="PhoneNumber">
            <input placeholder="Кличка" type="text" id="nick" name="PetName">
            <input placeholder="Номер чипа" type="text" id="chip" name="ChipNumber">
            <input placeholder="Возраст" type="text" id="age" name="Age">
            <input placeholder="Порода" type="text" id="breed" name="Breed">
            <button class="list__more" type="submit">Отправить</button>
        </div>
    </div>
</form>

<div class="search">
    <div class="search__box search-border">
        <input placeholder="Поиск" class="search__field__input search-border" type="search" id="search" />
        <button class="search__field__btn search-border" type="button">Найти</button>
    </div>
</div>

@if (medcardList != null && medcardList.Any())
{
    <section class="list">
        <div class="list__wrapper shadow">
            <div class="list__line-title">
                <p class="number">Дата</p>
                <p class="name">ФИО</p>
                <p class="phone">Телефон</p>
                <p class="nick">Кличка</p>
                <p class="chip">Номер чипа</p>
                <p class="age">Возраст</p>
                <p class="breed">Порода</p>
                <p class="heal" id="no-border">Параметры</p>
            </div>
            @foreach (var owner in medcardList)
            {
                <div class="list__container">
                    <div class="list__lines">
                        @{
                            System.Globalization.CultureInfo russianCulture = new System.Globalization.CultureInfo("ru-RU");
                            DateTime localDateCreate = owner.DateCreate.ToLocalTime();
                            string dayOfWeek = localDateCreate.ToString("dddd", russianCulture);
                            string time = localDateCreate.ToString("HH:mm", russianCulture);
                            dayOfWeek = char.ToUpper(dayOfWeek[0]) + dayOfWeek.Substring(1);
                            string formattedDate = localDateCreate.ToString("dd/MM/yyyy", russianCulture);
                        }

                        <p class="number">@dayOfWeek<br /><br />@formattedDate<br />@* @time пока что забудем о времени*@</p>

                        <p class="name">@owner.Name</p>
                        <p class="phone">@owner.PhoneNumber</p>
                        @foreach (var pet in owner.PetsDtos)
                        {
                            <p class="nick">@pet.Name</p>
                            <p class="chip">@pet.ChipNumber </p>
                            <p class="age">@pet.Age</p>
                            <p class="breed">@pet.Breed</p>
                        }
                        <div class="list__param">
                            <a class="list__more" href="/Client">
                                Подробнее
                            </a>
                            <a href="" class="list__more">Изменить</a>

                            <form asp-action="Delete" asp-controller="Medcard" method="post" class="list__remove">
                                <input type="hidden" name="id" value="@owner.Id" />
                                <button type="submit" onclick="alert('Вы уверены?')"
                                        style="background: none; border: none; color: white; cursor:pointer">
                                    Удалить
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </section>
}
else
{
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h1 style="text-align: center;
                font-size: 3.4em;
                padding: 125px;">
        Похоже на то, что все ваши карточки пропали.. Или вы еще не начали их вести! Нажмите кнопку Добавить в правом верхнем углу!
    </h1>
}



@code {
    private IReadOnlyCollection<OwnerDto> medcardList { get; set; } = new List<OwnerDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            medcardList = await GetAllAsync();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
        }
    }

    private async Task<IReadOnlyCollection<OwnerDto>> GetAllAsync()
    {
        return await repo.GetAllAsync();
    }
}
